<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Talkway</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../styles/index.css" media="screen" title="imports" charset="utf-8">

		<!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
		<!-- Place favicon.ico in the root directory -->
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<h1>TALKWAY</h1>

		<section class="position">
			<dl>
				<dt>Latitude:</dt>
				<dd id="Latitude"></dd>

				<dt>Longitude:</dt>
				<dd id="Longitude"></dd>
			</dl>
		</section>

		<section class="messages">
			<form id="Talkway" action="index.html" method="post">
				<textarea name="Message" rows="8" cols="40"></textarea>
				<input type="submit" name="submit" value="submit">
			</form>

			<dl class="message list"></dl>
		</section>

		<script src="../build/app.js" charset="utf-8"></script>
	</body>
</html>
