.message.list {
	padding: 0.5em;
}

.message.list > * {
	padding: 0.5em;
}

.message.list dt {
	background: #eee;
}

.message.list dt:after {
	content: "";
	background: #eee;
	display: block;
	width: 16px; height: 16px;
	margin-left: 1em;
	position: absolute;
	transform: rotate(45deg);
}

.message.
